<div class="composer-container">
    <div class="row">
        <div class="col-sm-12">
            <h3 class="align-center">Masayoshi Soken</h3>
        </div>
    </div>

    <hr />

    <div class="row about-composer">
        <div class="col-sm-3">
            <img src="../../assets/The_Primals_@_Final_Fantasy_XIV_Fanfest_2016.jpg" />
            <br />
            <em class="apa-reference"><a href="https://en.wikipedia.org/wiki/Masayoshi_Soken" target="_blank">Source</a></em>
        </div>
        <div class="col-sm-9">
            <p>
                Born in La Paz, Baja California Sur, Mexico, Soken and his family later moved to Tokyo, where he attended the Tokyo University of Science,
                majoring in chemistry. He was exposed to music at a young age—his father was a professional trumpet player and his mother taught piano. Rather
                than pursue a career in science, he was hired as a sound editor and designer at Konami. He joined Square in 1998 and his early work at the
                company primarily focused on sound effect design. His debut as a composer came soon after as he contributed toward numberous beloved game
                titles. Since the 2010 development team reshuffling, he has been sound director for Final Fantasy XIV. Soken became primary composer for the
                title with the launch of A Realm Reborn and the expansions that followed. He formed a rock band called The Primals with members of the sound
                team to play at Final Fantasy XIV events such as Fan Festival and have since released several albums.
            </p>
        </div>
    </div>
</div>